@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@700&display=swap");

.title-IKPArt {
  color: white;
  text-align: center;
  font-family: "Urbanist", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
}

.p-about {
  text-align: justify;
  color: white;
  width: 90%;
  display: block;
  margin: auto;
  font-family: "Urbanist", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
}

/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .p-about {
        text-align: justify;
        color: white;
        width: 85%;
        display: block;
        margin: auto;
        font-family: "Urbanist", sans-serif;
        font-style: normal;
        font-weight: 900;
        font-size: 25px;
      }
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .p-about {
        text-align: justify;
        color: white;
        width: 85%;
        display: block;
        margin: auto;
        font-family: "Urbanist", sans-serif;
        font-style: normal;
        font-weight: 900;
        font-size: 25px;
      }
}

/* // Medium devices (tablets, 768px and up) */
/* @media (min-width: 768px) and (max-width: 991.98px) { ... } */

/* // Large devices (desktops, 992px and up) */
/* @media (min-width: 992px) and (max-width: 1199.98px) { ... } */

/* // Extra large devices (large desktops, 1200px and up) */
/* @media (min-width: 1200px) { ... } */